@model IEnumerable<Todo>
@{
    ViewData["Title"] = "Home Page";
}
    <h1 class="display-4">My To-do list</h1>
    <hr/>
    <table id="dataTable" class="table table-striped" style="min-width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Finished</th>
                <th></th>
                <th>@Html.ActionLink("Add To-do", "Create", "Todo", new { @class = "btn btn-primary", @style = "color:white", @role = "button" })</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                await Html.RenderPartialAsync("_TodoListItem", item);
            }
        </tbody>
    </table>

<script>

    //Instantiate a variable for the DataTable
    var dataTable

    //Create a DataTable when the DOM is ready
    //We don't  want the last two columns to be sortable
    $(document).ready(function () {
        dataTable = $('#dataTable').DataTable({
            "columnDefs": [
                {
                    "targets": [3,4],
                    orderable: false
                },
            ]
        });
    });

    //This event will be triggered when a To-do is marked as finished.
    //The MarkFinished request will be sent to the TodoController
    $('#dataTable tbody').on('click', '.markFinished', function () {
        var button = $(this);
        var Id = $(this).val();

        if (confirm("This To-do will be marked as finished!")) {
            $.ajax({
                url: "/Todo/MarkFinished/" + Id,
                type: "Get"
            }).done(function () {
                //We replace the button with a bootstrap badge to show that the To-do is finished
                button.replaceWith('<span class="badge badge-success">Finished</span>');
            }).fail(function () {
                alert("Something Went Wrong.");
            });
        }
    });

    //This event will be triggered when a To-do is deleted from the dataTable
    //The delete request will be sent to the TodoController 
    $('#dataTable tbody').on('click', '.delete', function () {
        var button = $(this);
        var Id = $(this).val();

        if (confirm("This To-do will be deleted!")) {
            $.ajax({
                url: "/Todo/Delete/" + Id,
                type: "Get"
            }).done(function () {
                //The dataTable needs to stay on the same page after deleting a To-do
                var pageNumber = dataTable.page.info().page
                dataTable
                    .row($(button).parents("tr"))
                    .remove()
                    .page(pageNumber)
                    .draw('page');

            }).fail(function () {
                alert("Something Went Wrong.");
            });
        }
    });

</script>

